@use "../abstracts";

html {
    --text-color: #1A162E;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(24%) saturate(2649%) hue-rotate(220deg) brightness(87%) contrast(94%);
    --body-bg: #F6F6F6;
    --header-bg-color: #EEE;

    --top-act-group-bg-color: #FFF;
    --top-act-group-shadow: rgba(237, 237, 246, 0.20);
    --top-act-group-separate: #EDEDF6;



    @include abstracts.screen (lg) {
        --header-bg-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.20);
    }


    // Dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.40);
    --top-menu-border-color: #D2D1D6;

    // Sidebar
    --sidebar-bg: #fff;
    --sidebar-shadow-color: rgba(200, 200, 200, 0.40);

    // Home
    --cate-item-bg-color: #EEE;
    --cate-item-title-color: #000;
    --cate-item-thumb-bg: #fff;

    // Button
    --filter-btn-color : #6C6C72;
    --filter-btn-bg: #fff;
    --like-btn-shadow: rgba(124, 124, 124, 0.20);

    // Product card
    --product-card-brand: #9E9DA8;
    --product-card-bg: #fff;
    --product-card-shadow: rgba(237, 237, 246, 0.20);


    // Filter form
    --filter-form-bg: #fff;
    --filter-form-shadow: rgba(200, 200, 200, 0.40);
    --form-tag-bg: #F8F8FB;

    // Footer
    --footer-bg-color: #eee;

    // Auth
    --auth-intro-bg: #FAFAFD;

    // Form
    --form-label-color: #9E9DA8;
    --form-input-placeholder-color: #D2D1D6;

    // Product Detail
    --product-detail-bg: #fff;
    --product-info-bg: #F6F6F6;
    --product-detail-tag-bg: #EDEDF6;
    --product-info-card-bg: #B9BABE;
    --product-info-price-color: #000;

    // Breadcrumbs
    --breadcrumbs-bg : #F6F6F6;
    --breadcrumbs-shadow: rgba(237, 237, 246, 0.20);


    @include abstracts.screen (md) {
        --cate-item-bg-color: #fff;
        --auth-intro-bg: #fff;
        // Product Detail
        --product-detail-bg: #FAFAFD;
        --product-info-bg: #fff;

        // Breadcrumbs
        --breadcrumbs-bg: #fff;

    }
}