.filter-wrap {
    position: relative;
    z-index: 1;
}

.filter {
    position: absolute;
    right: 0;
    top: 50px;
    border-radius: 20px;
    background: var(--filter-form-bg);
    filter: drop-shadow(0 40px 90px var(--filter-form-shadow));
    padding: 30px;

    &__heading {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.46;
    }

    &__form {
        margin-top: 30px;

        &-label {
            display: block;
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 1.46;
        }

        &-label--small {
            font-size: 1.4rem;
            margin-bottom: 10px;
        }

        &-input {
            width: 121px;
            height: 36px;
            padding: 0 12px;
            border-radius: 6px;
            border: 1px solid #D2D1D6;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.42;
        }

        &-group {
            margin-top: 20px;

            &--inline {
                display: flex;
                gap: 30px;
            }
        }

        &-slider {
            height: 2px;
            background: #D2D1D6;
            width: 100%;
            position: relative;

            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 22px;
                height: 22px;
                border-radius: 50%;
                border: 6px solid #FFB700;
                top: 50%;
                translate: 0 -50%;
                background: var(--filter-form-bg);
            }

            &::before {
                left: var(--min-value);
            }

            &::after {
                left: var(--max-value);
            }
        }
    }

    &__row {
        display: flex;
        flex: 1;
    }
}