.search-bar {
    align-items: center;
    height: 50px;
    background-color: var(--header-bg-color);
    border-radius: 20px;

    &__input {
        flex: 1;
        font-size: 1.4rem;
        padding-left: 15px;
        line-height: 1.43;
        font-weight: 500;
        height: 100%;

        &::placeholder {
            color: #9E9DA8;
        }
    }

    &__submit {
        padding: 0 15px;
        height: 100%;
    }


}