.home {
  margin-bottom: 50px;
}
.home__container {
  margin-top: 40px;
}
@media (max-width: 767.98px) {
  .home__container {
    margin-top: 30px;
  }
}
.home__heading {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 141.667%;
}
.home__cate {
  --grid-gutter-x: 51px;
}
@media (max-width: 991.98px) {
  .home__cate {
    --grid-gutter-x: 24px;
  }
}
@media (max-width: 767.98px) {
  .home__cate {
    --grid-gutter-y: 20px;
  }
}
.home__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.auth {
  display: flex;
  min-height: 100vh;
}
@supports (-webkit-touch-callout: none) {
  .auth {
    min-height: -webkit-fill-available;
  }
}
.auth__intro, .auth__content {
  flex: 1;
  padding: 0 30px;
}
.auth__message {
  margin-top: 10px;
}
.auth__intro {
  position: relative;
  background: var(--auth-intro-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.auth__intro-desc {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.44;
  max-width: 412px;
}
@media (max-width: 767.98px) {
  .auth__intro-desc {
    font-size: 1.5rem;
  }
}
.auth__intro-img {
  width: min(424px, 100%);
}
.auth__intro-logo {
  position: absolute;
  top: 80px;
  left: 50%;
  translate: -50%;
}
.auth__intro-next {
  position: absolute;
  bottom: 50px;
  left: 50%;
  translate: -50%;
}
.auth__heading {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.47;
  margin-top: 50px;
}
@media (max-width: 767.98px) {
  .auth__heading {
    font-size: 2.2rem;
    margin-top: 40px;
  }
}
.auth__desc {
  color: #9E9DA8;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.47;
  margin-top: 10px;
  padding: 0 20px;
}
@media (max-width: 767.98px) {
  .auth__desc {
    font-size: 1.4rem;
  }
}
.auth__content {
  background: var(--filter-form-bg);
}
@media (max-width: 767.98px) {
  .auth__content {
    position: fixed;
    inset: 0;
    z-index: 1;
    transition: translate 0.3s;
    overflow-y: auto;
  }
  .auth__content.hide {
    translate: 100%;
  }
}
.auth__content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: min(460px, 100%);
  margin: 0 auto;
  padding: 50px 0;
}
.auth__content-inner .logo {
  display: flex;
  justify-content: center;
}
@media (max-width: 767.98px) {
  .auth__content-inner {
    padding: 32px 0;
  }
}
.auth__btn-group {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 108px;
}
@media (max-width: 767.98px) {
  .auth__btn-group {
    margin-bottom: 20px;
    gap: 20px;
  }
}
.auth__text, .auth__link {
  color: #9E9DA8;
  font-size: 1.8rem;
  line-height: 1.44;
}
@media (max-width: 767.98px) {
  .auth__text, .auth__link {
    font-size: 1.6rem;
  }
}
.auth__text-link, .auth__link {
  color: #0071DC;
}
.auth__form {
  width: 100%;
  margin-top: 30px;
}
@media (max-width: 767.98px) {
  .auth__form {
    margin-top: 0;
  }
}

.product-page {
  background: var(--product-detail-bg);
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.prod-info-content {
  border-radius: 20px;
  background: var(--product-detail-info-content-bg);
}

.product-container {
  margin-top: 30px;
}
@media (max-width: 767.98px) {
  .product-container {
    margin-top: 20px;
  }
}

.prod-preview {
  padding: 0 30px;
}
@media (max-width: 991.98px) {
  .prod-preview {
    display: flex;
    flex-direction: row-reverse;
  }
}
@media (max-width: 991.98px) {
  .prod-preview {
    padding: 16px;
  }
}
.prod-preview__list {
  display: flex;
  overflow: hidden;
}
@media (max-width: 991.98px) {
  .prod-preview__list {
    flex: 1;
  }
}
.prod-preview__item {
  width: 100%;
  flex-shrink: 0;
  padding-top: 92%;
  position: relative;
}
.prod-preview__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.prod-preview__thumbs {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  gap: 16px;
}
@media (max-width: 991.98px) {
  .prod-preview__thumbs {
    flex-direction: column;
    padding-left: 0;
  }
}
@media (max-width: 767.98px) {
  .prod-preview__thumbs {
    display: none;
  }
}
.prod-preview__thumb-img {
  width: 65px;
  height: 65px;
  object-fit: contain;
  border: 1.5px solid rgba(159, 158, 168, 0.3);
  border-radius: 8px;
  opacity: 0.9;
  cursor: pointer;
  transition: opacity, border-color;
  transition-duration: 0.3s;
}
.prod-preview__thumb-img:hover {
  opacity: 1;
  border-color: #9f9ea8;
}
.prod-preview__thumb-img--current {
  border-color: #FFB700;
  opacity: 1;
}

.prod-props {
  padding-left: 30px;
}
@media (max-width: 1399.98px) {
  .prod-props {
    padding-left: 10px;
  }
}
@media (max-width: 991.98px) {
  .prod-props {
    padding-left: 0;
  }
}

.prod-info {
  padding: 60px;
  background: var(--product-info-bg);
}
@media (max-width: 1399.98px) {
  .prod-info {
    padding: 40px;
  }
}
@media (max-width: 991.98px) {
  .prod-info {
    margin-top: 30px;
  }
}
@media (max-width: 767.98px) {
  .prod-info {
    border-radius: 20px;
    padding: 0 16px 16px;
    margin-top: 0;
  }
}
.prod-info__heading {
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.38;
}
@media (max-width: 767.98px) {
  .prod-info__heading {
    font-size: 1.8rem;
  }
}
.prod-info__label {
  margin-top: 30px;
}
.prod-info__tag {
  background-color: var(--product-detail-tag-bg);
}
.prod-info__card {
  border-radius: 6px;
  border: 1px solid var(--product-info-card-bg);
  padding: 20px;
  margin-top: 30px;
}
.prod-info__row {
  display: flex;
  align-items: center;
}
.prod-info__price {
  color: var(--product-info-price-color);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  margin-right: 8px;
}
.prod-info__tax {
  padding: 2px 8px;
  text-align: center;
  color: #67B044;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.43;
  background: var(--Green-Green-20, linear-gradient(0deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), #67B044);
}
.prod-info__total-price {
  color: var(--product-info-price-color);
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.4;
  margin: 20px 0;
}
.prod-info__btn {
  flex: 1;
}
.prod-info__like-btn {
  margin-left: 20px;
  width: 46px;
  height: 46px;
  border-radius: 6px;
  border: 1px solid #D2D1D6;
  background: transparent;
}

.prod-prop {
  display: flex;
  gap: 16px;
  margin-top: 30px;
}
.prod-prop__icon {
  align-self: flex-start;
}
.prod-prop__title {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.4;
}
.prod-prop__desc {
  margin-top: 4px;
  font-size: 1.4rem;
  line-height: 1.43;
}
@media (max-width: 767.98px) {
  .prod-prop {
    margin-top: 20px;
  }
}

.prod-tab__list {
  display: flex;
  margin: 0 -30px;
}
@media (max-width: 575.98px) {
  .prod-tab__list {
    margin: 0 -20px;
  }
}
.prod-tab__item {
  color: #9E9DA8;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.46;
  padding: 0 30px;
  user-select: none;
  cursor: pointer;
}
.prod-tab__item--current {
  color: inherit;
}
@media (max-width: 767.98px) {
  .prod-tab__item {
    font-size: 1.8rem;
    padding: 8px 30px;
  }
}
@media (max-width: 575.98px) {
  .prod-tab__item {
    padding: 8px 20px;
  }
}
.prod-tab__contents {
  padding-top: 30px;
}
.prod-tab__content {
  display: none;
}
.prod-tab__content--current {
  display: block;
}

.prod-content__heading {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42;
  margin-bottom: 30px;
}
@media (max-width: 575.98px) {
  .prod-content__heading {
    font-size: 1.8rem;
  }
}

/*# sourceMappingURL=index.css.map */
